<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div class="chat-container">
    <div class="incoming-msg">

    </div>
    <div class="outgoing-msg">

    </div>
    <div class="input">
      <input type="text" placeholder="Enter message">
      <button>Send</button>
    </div>
    
   
  </div>

    

    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
      const roomName=prompt("Enter roomname")
      socket.emit('connectToRoom',roomName)
      socket.on('max',(msg)=>{
        console.log(msg)
      })

    </script>
  </body>
</html>
